@font-face {
    font-family: cereal;
    src: url('../../assets/fonts/Cereal/AirbnbCereal-Book1.ttf');
}

@font-face {
    font-family: cereal-bold;
    src: url('../../assets/fonts/Cereal/AirbnbCereal-Bold.ttf');
}

@font-face {
    font-family: cereal-medium;
    src: url('../../assets/fonts/Cereal/AirbnbCereal-Medium.ttf');
}

@font-face {
    font-family: cereal-light;
    src: url('../../assets/fonts/Cereal/AirbnbCereal-Light.ttf');
}

@font-face {
    font-family: cereal-black;
    src: url('../../assets/fonts/Cereal/AirbnbCereal-Black.ttf');
}