@font-face {
    font-family: cereal;
    src: url('../../../public/fonts/Airbnb_Cereal-Book.ttf');
}

@font-face {
    font-family: cereal-bold;
    src: url('../../../public/fonts/Airbnb_Cereal-Bold.ttf');
}

@font-face {
    font-family: cereal-medium;
    src: url('../../../public/fonts/Airbnb_Cereal-Medium\ \(2\).ttf');
}