.app-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0px 40px;
}

.app-header-logo {
    max-width: 100px;
}

.date-picker {
    display: flex;
    align-items: center;
    padding: 0px 2.3px;
    margin: 0px 23px;
    border-radius: 40.6px;
    border: 1px solid #d3d3d3;


    button {
        background-color: #ffffff;
        border-radius: 4px;
        color: #484848;
        cursor: pointer;
        font-size: 14px;
        /* margin-right: 8.6px; */
        padding: 0.3px 16.4px;
        /* display: flex; */
        border-radius: 25px;
        border: 1px solid #d3d3d3;
        transition: background-color 0.3s;

        &:hover {
            background-color: #f7f7f7;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(34, 92, 160, 0.3);
        }


    }

    button:nth-child(1) {
        border: 1px none #d3d3d3;



    }

    button:nth-child(2) {
        border: 1px none #d3d3d3;

    }

    button:nth-child(3) {
        border: 1px none #d3d3d3;
        margin: 0px 5px;


    }

    .search-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        background-color: #ff385c;
        border-radius: 50%;
        padding: 10px;
        margin: 7px 7px 7px 0;
        height: 32px;
        min-width: 32px;
    }
}

.right-header-menu {
    justify-self: end;
}