.app-header {

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0px rem(70px);
    border-bottom: 1px solid #d3d3d3;



    &.filter-open {
        .overlay {
            display: block;
        }

    }

}


.grid-app-header {
    grid-row: 1 / 2;
    border-bottom: none;
}

.app-header-filter {
    display: grid;
    align-items: center;
    padding: 0px rem(70px);
    display: grid;
    grid-template-rows: auto auto;
    z-index: 1002;
}



.app-mini-menu {
    display: flex;
    justify-content: space-between;
    margin-block: 2em;

    section {
        margin-inline: 0.4em;
    }

}

.app-header-logo {
    max-width: 100px;
}

.date-picker.grid-date-picker {

    grid-row: 2 / 3;
    grid-column: 1 / -1;
    margin: 0px 16.5em;
    padding-inline: 1em;
    border-radius: 5em;
    min-height: 4em;
    display: flex;
    justify-content: space-between;

    &.filter-open {
        background-color: #ffffff;
        z-index: 1002;

    }

    .btn-datepicker {
        background: transparent;
        cursor: pointer;
        text-align: inherit;
        border: 1px solid transparent;
        background-color: #ffffff;
        color: #484848;
        padding-top: 5px;
    }

    .search-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        background-color: #ff385c;
        border-radius: 50%;
        padding: 10px;
        margin: 7px 7px 7px 0;
        height: 50px;
        min-width: 50px;

    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


.date-picker {
    display: flex;
    align-items: center;
    padding: 0px 2.3px;
    margin: 0px 3em;
    border-radius: 40.6px;
    border: 1px solid #d3d3d3;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;


    &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }



    .btn-datepicker {
        text-align: center;
        border-radius: 4px;
        background: transparent;
        cursor: pointer;
        padding: 0;
        text-align: inherit;
        border: 1px solid transparent;
        // margin: -1px;
        background-color: #ffffff;
        color: #484848;
        font-size: 14px;
        //border-radius: 20px;
        padding: 5px 16.4px;

        p {
            font-size: 1em;
            padding: none;
            margin: none;
            color: $clr4;
        }

        span {
            font-size: 0.8em;
        }

    }


    section:nth-child(1) {


        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;



    }

    section:nth-child(2) {
        border-right: 1px solid $clr2;
        border-radius: 0px;
        border-left: 1px solid $clr2;


    }

    section:nth-child(3) {
        border-right: 1px none black;
        margin: 0px 5px;


    }

    .search-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        background-color: #ff385c;
        border-radius: 50%;
        padding: 10px;
        margin: 7px 7px 7px 0;
        height: 32px;
        min-width: 32px;
    }
}

.right-header-menu {

    display: flex;
    justify-content: end;

    button {
        font-size: 14.9px;
        justify-content: center;
        margin-right: 25px;
        background-color: #ffffff;
        border: none;
        min-width: 130px;

        &:hover {
            background-color: $clr2;
            border-radius: 20px;

        }
    }

    .global-btn {
        font-size: 15px;
        align-self: center;
    }

    .switchlen-menu {
        display: flex;
        margin-left: 10px;
        padding: 12px;
    }

    .menu-icon {
        font-size: 1.5em;
        margin: 0px 5px;

    }

    .menu-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0d0d0d;
        border-radius: 54.3px;
        border: 1px solid #d3d3d3;
        padding: 10px;
        height: 50px;
        min-width: 6.7px;
        margin-left: 2.9px;
        transition: box-shadow 0.3s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }


    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5em;
        width: 2.5em;
        color: #ffffff;
        background-color: #0b0b0b;
        border-radius: 100%;
        border: 1px solid #d3d3d3;
        padding: 7.2px;

    }
}