.dashboard-nav-inks {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 1em;

    a {
        background-color: none !important;
        transition: all 0.25s;

        &.active {
            color: rgb(0, 0, 0);
            background-color: white !important;
            text-decoration: underline $clr1;
        }
    }
}

.dashboard-layout {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;

    .dashboard-header {
        @include medium-bold(48px);
        // padding-block: 30px;
        margin: 2em 0;
    }

    .dashboard-title {
        font-size: larger;
        margin-bottom: 1em;
        // text-decoration: underline solid 0.5%;
    }

    .dashboard-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include section-padding(2)
    }

}

.insights-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    margin-bottom: 5rem;

    // border: 2px solid black;
    .insight-card {
        cursor: pointer;
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        border-radius: 12px;
        border: 1px solid #dddddd;
        display: flex;
        flex-direction: column;
        transition: transform 0.35s ease;
        background-color: white;

        &-header {
            @include medium-bold(18px)
        }

        &-data {
            padding: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .insight-number {
            @include bold(56px);
            transition: all 0.4s ease;

        }
    }

    .insight-card:hover {
        transform: translate3d(4px, 3%, 3em);

        .insight-card-data {
            .insight-number{
                transform: translate3d(-5px, -10%, 3em);
                // font-size: 58px;
                text-shadow: 2px 2px 2px rgba(57, 55, 55, 0.2), 3px 3px 3px rgba(0, 0, 0, 0.3);
            }
            svg{
                text-shadow: 10px 2px 2px rgba(57, 55, 55, 0.2), 3px 3px 3px rgba(0, 0, 0, 0.3);
            }
        }
    }

    .insight-long {
        grid-area: 1 / 4 / 4 / 5;
    }

    .insight-large {
        grid-area: 2/1/4/4;
    }
}

.insight-card-graph {
    height: 100%;
    border: 1px solid $clr2;
    box-shadow: #dddddd 5px 10px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .pie-chart-tabs{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 33.33%;
        // border: #ff073a solid 1px;
        button{
            border: none;
            background-color:transparent ;
            padding: 0.2em;
            &.selected{
                box-shadow: 1px 2px 2px 0.2px;
                text-decoration: underline $clr1;
            }
            &:not(:first-of-type){
                border-left: 1px solid $clr5;
            }

            &:hover{
                text-decoration: underline $clr2;
            }
        }

    }
}

.insight-card-data {
    .insight-icon {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg {
        width: 2.5rem;
        height: 2.5rem;
        color: $clr1;
    }
}

.overview-list-item {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-top: 24px;
    align-items: center;

    &:first-child {
        margin-top: 0;
    }

    &:not(:first-child) {
        @include border-top()
    }

    &-title {
        font-size: larger;
    }

    &-stats {
        @include medium-bold(24px)
    }
}

.approved-green {
    color: #03C03C;
}

.rejected-red {
    color: #ff073a;
}

.pending-orange {
    color: orange;
}

.dashboard-reservations {


    h3 {
        font-size: xx-large;
        font-family: 'cereal-medium';
    }

    .orders-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        font-family: 'cereal-medium';
        position: relative;

        th,
        td {
            border-bottom: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            padding-block: 20px;
        }

        th {
            //background-color: #f2f2f2;
            font-family: 'cereal-bold';
            border-bottom: 3px solid #ddd;
        }

        // tr:nth-child(even) {
        //     background-color: #f9f9f9;
        // }

        tr:hover {
            background-color: #f1f1f1;
        }

        h4 {
            font-size: 14px;
        }

        h5 {
            color: $clr4;
        }

        .tr-order {
            cursor: pointer;
        }

        .td-status {
            font-size: 14px;
        }

        .status-circle {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;
            animation: blink 2s infinite;

            &.approved-green {
                background-color: #03C03C;
            }

            &.rejected-red {
                background-color: #ff073a;
            }

            &.pending-orange {
                background-color: orange;
            }

        }

        @keyframes blink {

            0%,
            100% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }
        }
    }



}

.approve-reject-order-modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin-block: 30px;
    }

    h4,
    h5 {
        margin-block: 10px;
    }

    .apprej-buttons {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 5rem;

        button {
            background-color: $clr1;
            color: $clr3;
            width: 100px;
            height: 40px;
            font-size: 16px;
        }
    }

    .img-preview-orders {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
        margin-right: 10px;
    }

    h5 {
        font-size: 16px;
    }

}