$gallery-columns: 4;
$gallery-rows: 2;
$slot-width: 220px;
$slot-height: $slot-width*0.83163214285;

.Image-galery-small{
    // // in parent grid
    // grid-area: 3 / 2 / 4 / 5;
    // // 
    
    display: grid;
    gap:6px;
    max-width: 100%;
    grid-template-columns: repeat($gallery-columns,1fr);
    grid-template-rows: repeat($gallery-rows,1fr);
    img{
        object-fit: fill;
        min-width: 100%;
        min-height: 100%;
        &:first-child{
            grid-column: span 2;
            grid-row: span 2;
            width: $slot-width*2;
            height: $slot-height*2;
        }
        &:not(:first-child){
            width: $slot-width;
            height: $slot-height;
            // width: calc(100% / $gallery-columns - 10px);
            // height: calc(100% / $gallery-rows - 10px);
        }
        
    }
}

