$gallery-columns: 4;
$gallery-rows: 2;
$slot-width: 220px;
$slot-height: $slot-width * 0.83163214285;



.Image-galery-small {


  display: grid;
  gap: 6px;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  grid-template-columns: repeat($gallery-columns, 1fr);
  grid-template-rows: repeat($gallery-rows, 1fr);
  position: relative;
  img {
    object-fit: fill;
    min-width: 100%;
    min-height: 100%;
    &:first-child {
      grid-column: span 2;
      grid-row: span 2;
      width: $slot-width * 2;
      height: $slot-height * 2;
    }
    &:not(:first-child) {
      width: $slot-width;
      height: $slot-height;
    }
  }
  .button-overlay {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}
