.location-modal {
    position: fixed;
    top: 0;
    margin-top: 400px !important;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1003;
    position: fixed;
    margin-top: 12px;
    background: white;
    border-radius: 32px;
    box-shadow: 0 0 0 1px #0000000a, 0 8px 16px #00000026;
    padding: 16px 20px;
    cursor: auto;
    //  min-width: 100%;
    min-height: 400px;
    display: flex;
    width: max-content;

    .loc-title-map {
        font-family: cereal-bold;

    }

    .loc-right {
        padding: 50px;
    }

    .loc-list-scroll {
        overflow: auto;
        height: 300px;

        &::-webkit-scrollbar {
            width: 12px; // Set the width of the scrollbar
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1; // Background color of the track
        }

        &::-webkit-scrollbar-thumb {
            background: #888; // Color of the scrollbar handle
            border-radius: 6px; // Add rounded corners to the handle
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #555; // Change color on hover
        }

    }


    .loc-map-list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
    }

    .img-loc {
        aspect-ratio: 1/1;
        width: 100%;
        height: 122px;
        border-radius: 10px;
    }

    .loc-list {
        cursor: pointer;
        display: flex;
        // flex-direction: column;
        align-items: center;
        min-width: 200px;
        padding: 10px;



        img {
            width: 32px;
            /* Adjust the width as needed */
            height: 32px;
            /* Adjust the height as needed */
            background-color: $clr2;
            border-radius: 5px;
            padding: 5px;
        }

        div {
            margin-top: 8px;
            /* Adjust the margin as needed */
        }

        &.selected {
            border-bottom: 2px solid blue;
            /* Highlight the selected item */
        }

        &:hover {
            background-color: $clr2;
            /* Add a background color on hover */
        }

    }

    .loc-left {

        padding: 50px 0px 0px 0px;
    }

    .img-list-loc {
        height: 50px;
    }

    .loc-list-container {
        display: flex;
        width: 100%;
        overflow-x: auto;
        align-items: center;
        justify-content: center;
    }

    .loc-name {
        margin-left: 5px;
    }
}

.hight-datepicker-checkin {
    height: 500px;
}

.who-items {
    display: flex;
}

.list-gusets {
    display: block;
    min-width: 400px;
    justify-content: space-between;

}

.who-items {
    border-bottom: $clr4 solid 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-between;

    h5 {
        font-family: 'cereal-bold';
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}

.counter {
    display: flex;
    align-items: center;

    img {
        border: $clr2 solid 1px;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        cursor: pointer;
        margin: 5px;
        padding: 7px;

    }
}

.modal-filters {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0px 0px 20px 20px;
    border-radius: 10px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    height: 70vh;
    width: 100vh;

    .price-range {
        border-bottom: $clr2 solid 1px;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-inline: 50px;
    }

    h3 {
        font-family: 'cereal-bold';
        text-align: center;
        font-size: 16px;
        border-bottom: $clr2 solid 1px;
        padding-bottom: 15px;
        padding-top: 15px;
        position: sticky;
        top: 0;
        background-color: $clr3;
    }


    // CustomizedSlider.scss



    $iosBoxShadow: '0 3px 1px rgba(0,0,0,0.1),0 4px 8px rgba(0,0,0,0.13),0 0 0 1px rgba(0,0,0,0.02)';

    .IOSSlider {
        color: #007bff;
        height: 5;

        & .MuiSlider-thumb {
            height: 20;
            width: 20;
            background-color: #fff;
            box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);

            &:focus,
            &:hover,
            &.Mui-active {
                box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);

                @media (hover: none) {
                    box-shadow: $iosBoxShadow;
                }
            }

            &:before {
                box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.12);
            }
        }

        & .MuiSlider-valueLabel {
            font-size: 12;
            font-weight: normal;
            top: -6;
            background-color: unset;
            color: #000;

            &::before {
                display: none;
            }

            & * {
                background: transparent;
                color: #fff;
            }
        }

        & .MuiSlider-track {
            border: none;
            height: 5;
        }

        & .MuiSlider-rail {
            opacity: 0.5;
            box-shadow: inset 0px 0px 4px -2px #000;
            background-color: #d0d0d0;
        }
    }

    .PrettoSlider {
        color: #52af77;
        height: 8;

        & .MuiSlider-thumb {
            height: 24;
            width: 24;
            background-color: #fff;
            border: 2px solid currentColor;

            &:focus,
            &:hover,
            &.Mui-active,
            &.Mui-focusVisible {
                box-shadow: inherit;
            }

            &:before {
                display: none;
            }
        }

        & .MuiSlider-valueLabel {
            line-height: 1.2;
            font-size: 12;
            background: unset;
            padding: 0;
            width: 32;
            height: 32;
            border-radius: 50% 50% 50% 0;
            background-color: #52af77;
            transform-origin: bottom left;
            transform: translate(50%, -100%) rotate(-45deg) scale(0);

            &::before {
                display: none;
            }

            &.MuiSlider-valueLabelOpen {
                transform: translate(50%, -100%) rotate(-45deg) scale(1);
            }

            &>* {
                transform: rotate(45deg);
            }
        }
    }

    .AirbnbSlider {
        color: #3a8589;
        height: 3;
        padding: 13px 0;

        & .MuiSlider-thumb {
            height: 27;
            width: 27;
            background-color: #fff;
            border: 1px solid currentColor;

            &:hover {
                box-shadow: 0 0 0 8px rgba(58, 133, 137, 0.16);
            }

            & .airbnb-bar {
                height: 9;
                width: 1;
                background-color: currentColor;
                margin-left: 1;
                margin-right: 1;
            }
        }

        & .MuiSlider-track {
            height: 3;
        }

        & .MuiSlider-rail {
            color: #d8d8d8;
            opacity: 1;
            height: 3;
        }
    }


}

.overlayModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1005;






}