// .order-index {
//     padding: 0px 5rem;

//     .order-title {
//         padding-block: 30px;
//     }

//     .order-list {
//         display: grid;
//         grid-template-columns: repeat(3, minmax(100px, 1fr));
//         gap: 20px;
//         list-style: none;
//         padding: 0;
//         margin: 0;

//     }

//     .order-preview {
//         display: flex;

//         .img-preview-orders {
//             width: 80px;
//             height: 80px;
//             object-fit: cover;
//             border-radius: 8px;
//             margin-right: 10px;
//         }
//     }
// }

.order-index {
    padding: 0 0 2rem 0;

    .order-title {
        padding-block: 30px;
    }

    .order-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        gap: 15px;
        list-style: none;
        padding: 0;
        margin: 0;

    }

    .order-preview {
        display: flex;
        max-width: 360px;

        .img-preview-orders {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
            margin-right: 10px;
        }

        .status-label {
            display: inline-flex;
            font-size: 20px;
            font-family: 'cereal-bold';
            align-items: center;
            align-content: center;
            gap: 10px
        }
    }
}