.order-index {
    padding: 0px 5rem;

    .order-title {
        padding-block: 30px;
    }

    .order-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 100px;
        list-style: none;
        padding: 0;
        margin: 0;

    }

    .order-preview {
        display: flex;

        .img-preview-orders {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}