.stay-preview {
    position: relative;


    .img-preview {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 8px;
    }

    .preview-loc {
        font-family: 'cereal-medium';
        color: $clr5;
    }

    .preview-name {
        color: $clr4;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .preview-price {
        margin-top: 5px;
        font-family: 'cereal-medium';
        color: $clr5;

        span {
            font-family: 'cereal';
            color: $clr5;
        }
    }

    .heart-svg {
        aspect-ratio: 1/1;
        width: 25px;
        margin: 0.8em;
        position: absolute;
        top: 0;
        right: 0;

    }

    .image-slider-arrows {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        pointer-events: auto;
        transition: opacity 0.3s ease;


        &:hover {
            pointer-events: auto;

        }

        svg {
            background: white;
            border: none;
            color: $clr5;
            font-size: 24px;
            padding: 5px;
            cursor: pointer;
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover svg {
            opacity: 1;
            transform: scale(1.2);
        }

        .arrow-left {
            margin-left: 0.3em;
        }

        .arrow-right {
            margin-right: 0.3em;
        }
    }

    .image-container {
        position: relative;
    }

    .image-points {
        position: absolute;
        bottom: 20px;
        left: 40%;
        display: flex;

        .point {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $clr4;
            margin: 0 3px;
            cursor: pointer;
            transition: background-color 0.3s;

            &.active {
                font-weight: bold;
                background-color: white;
            }
        }
    }
}