.details-header{
    // background: #546;
    display: flex;
    justify-content: space-around;
    max-height: 80px;

}
.details-short{
    display: flex;
    flex-direction: column;
    .stay-capacity-details{
        >:first-child{
            list-style: none;
        }
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .rating-peek{
        background-color: #ff0000;
    }
}
.checkout-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .details-short{

    }
    .checkout-card{
        border: 1px solid #ff0000;
        width: 300px;
        height: 450px;
    }
    

}