.stay-filter {

    display: grid;
    grid-auto-flow: column;
    margin-top: 10px;
    padding: 10px;



    .scroll-container {
        display: grid;
        gap: 20px;
        grid-auto-flow: column;
        overflow-x: auto;
        padding: 10px;
        overflow: hidden;


    }

    .stay-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;
        border-bottom: 2px solid transparent;


        &:hover {
            border-bottom-color: $clr4;
        }




        img {
            height: 24px;
            width: 24px;
            margin-bottom: 5px;



        }

        p {
            font: 12px;
            color: $clr4;




        }


    }

    .filter-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #717171;
        border-radius: 20%;
        align-self: center;
        padding: 15px;
        margin-left: 5px;
        margin-bottom: 15px;



        svg {
            font-size: 20px;
            margin-top: 0px;
            font-weight: bold;
            padding-right: 5px;

        }

        p {
            margin-bottom: 0px;
            font-weight: bold;
            font-size: 12px;
        }
    }

}

// Navigation arrows
.stay-filter {
    position: relative;

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 20px;
        color: $clr4;
        background-color: transparent;
        border: none;
        outline: none;
        border: 1px solid $clr4;
        border-radius: 50%;
        height: 28px;
        width: 28px;
        padding: 5px;
        margin: -9.3px 11.8px;


    }

    .arrow-left {
        position: relative;
        left: 0;
    }

    .arrow-right {
        position: relative;
        right: 0;
    }


}