.stay-edit {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    overflow: hidden;

    .edit-header {
        display: flex;
        align-items: center;
        padding: 32px 48px 0px;

        img {
            display: block;
            height: 32px;
            width: 32px;
            fill: #000;
        }
    }

    .firstpage-edit {
        display: flex;
        align-items: center;
        overflow: hidden;
        //margin-top: 88px !important;
        border-top: none !important;

        height: calc(100vh - 180px) !important;
        padding-left: 80px !important;
        padding-right: 80px !important;

        .video-container {

            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
            will-change: transform;
        }

        .video {
            height: 100%;
            //overflow: hidden;
            display: block;
            width: 100%;
        }

        h4 {
            font-size: 18px;
            margin: 0px 0px 16px;
        }

        h1 {
            font-size: 48px;
            font-family: 'cereal-bold';
            margin: 0px 0px 24px;
        }

        h3 {
            font-size: 18px;
        }
    }


    .footer-loader {
        position: fixed;
        bottom: 100px;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: #9e9e9e52;

    }

    .loader {
        position: absolute !important;
        left: 0;
        bottom: 100px;
        height: 8px;
        width: 15%;
        background-color: #222;
        transition: all .3s ease-in-out;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    .footer-btns {
        display: flex;
        justify-content: space-between;
        padding: 16px 48px;

        .back-btn {
            text-decoration: underline;
            color: #222;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1rem;

            font-weight: 600;
            border-radius: 8px;
            line-height: 1.5rem;
        }

        .next-btn {
            background-color: #222;
            color: #fff;
            padding: 14px 32px;
            margin: 0;
            cursor: pointer;
            text-align: center;
            border-radius: 8px;
            font-weight: 600;
            line-height: 1.25rem;
            font-size: 1rem;
            transition: all .4s ease-in-out;
        }

    }

    .secondpage-edit {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;

        h3 {
            font-size: 32px;
            font-family: 'cereal-bold';
            margin-bottom: 20px;
        }

        .type-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            overflow: auto;
            gap: 15px;
            padding-top: 10px;
            padding-inline: 10px;

            .edit-icon-type {
                display: flex;
                flex-direction: column;
                outline: 1px solid #95969845;
                width: 170px;
                padding: 16px;
                border-radius: 10px;
                justify-content: space-between;
                cursor: pointer;
                height: 100px;
                transition: all 100ms ease-in-out;
                user-select: none;

                &:hover {
                    outline: 1px solid #222222 !important;
                }

                &.selected {
                    outline: 1px solid #222222 !important;
                }

                img {
                    height: 32px;
                    width: 32px;
                }

                .property-title {
                    font-family: 'cereal-bold';
                }
            }

        }

        .type-list::-webkit-scrollbar {
            overflow: hidden;
        }
    }

    .thirdpage-edit {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;

        h3 {
            font-size: 32px;
            font-family: 'cereal-bold';
            margin-bottom: 20px;
        }

        .roomtype-list {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            padding-top: 10px;
            padding-inline: 10px;

            .edit-icon-type {
                display: flex;
                flex-direction: row;
                align-items: center;
                outline: 1px solid #95969845;
                width: 630px;
                padding: 32px;
                border-radius: 10px;
                justify-content: space-between;
                cursor: pointer;
                height: 100px;
                transition: all 100ms ease-in-out;
                user-select: none;

                &:hover {
                    outline: 1px solid #222222 !important;
                }

                &.selected {
                    outline: 1px solid #222222 !important;
                }

                img {
                    height: 32px;
                    width: 32px;
                }

                .property-title {
                    margin: 24px;

                    h4 {
                        font-size: 18px;
                        font-family: 'cereal-medium';
                        margin: 0;
                    }

                    h5 {
                        font-size: 14px;
                    }
                }


            }
        }
    }

    .fourthPage-edit {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;


        h3 {
            font-size: 32px;
            font-family: 'cereal-medium';
            margin-bottom: 20px;
        }

        h4 {
            font-size: 18px;
            color: $clr4;
        }

        h5 {

            font-size: 18px;
            font-family: 'cereal';
        }

        .basics-details {
            display: block;
        }

        .counter-list {
            width: calc(100vh - 180px);
        }

        .who-items {
            width: 100%;
            padding: 16px 0px;
        }

        &.eighth-page {
            align-items: start;


        }

        textarea {
            width: 100%;
            padding: 10px;
            margin-top: 30px;
            border: 1px solid #ccc;
            border-radius: 10px;
            resize: vertical;
            font-size: 16px;
            line-height: 1.5;
            width: calc(110vh - 180px);
            max-height: 50vh;
            min-height: 25vh;

            &:focus {
                outline: none;
                border-color: #007bff;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }

        .price-box {
            display: flex;
            align-items: center;

            input {
                width: 50vh;
                padding: 10px;
                border: none;
                border-bottom: none;
                background-color: transparent;
                color: #070707;
                outline: none;
                box-shadow: none;
                font-size: 100px;
                font-family: 'cereal-bold';

                &::placeholder {
                    color: #ccc;
                    font-family: 'cereal-bold';
                }
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }



            span {
                font-size: 100px;
                color: #070707;
            }

        }

        .stay-submit-preview {
            display: flex;
            flex-direction: row;
            // width: 600px;


            img {
                height: 300px;
                width: 300px;
                border-radius: 20px;
            }

            .stay-submit-text {
                margin-inline: 40px;

                h5 {
                    color: $clr5;
                    font-family: 'cereal-medium';
                }

            }
        }

        .map-container {
            height: 50vh;
            width: 500px;
            border-radius: 20px;
            position: relative;
        }

        .marker {
            cursor: auto;
            height: 48px;
            transform: scale(1);
            transform-origin: 50% 100%;
            transition: transform 150ms ease-out 0s;
            width: 48px;
            bottom: 2px;

            .marker-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .house {
                    z-index: 1;
                    position: relative;
                    fill: white;
                }

                .marker-icon {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    border-radius: 50%;
                    background-color: rgb(255, 56, 92);
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
                    color: rgb(255, 255, 255);
                    height: 48px;
                    width: 48px;
                }

                .marker-tooltip {
                    background: linear-gradient(135deg,
                            rgba(0, 0, 0, 0) 50%,
                            rgb(255, 56, 92) 50%);
                    border-radius: 2px;
                    bottom: 10px;
                    height: 12px;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, 0px) rotate(45deg);
                    width: 12px;
                    z-index: auto;
                }
            }

            svg {
                width: 24px;
                height: 23px;
            }
        }

        .search-box {
            position: absolute;
            z-index: 1005;
            margin-top: 10px;
            left: 25%;
        }

        .google-autocomplete {
            display: flex;

        }
    }

    .sevenPage-edit {
        overflow: auto;
    }

    .photo-uploader {
        display: flex;
        align-items: center;
        justify-content: center;
        border: $clr4 solid 1px;
        height: 20vh;
        width: 40vh;

        .svg-upload {
            height: 50px;
            width: 50px;

        }

        image-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .upload-image {

        height: 20vh;
        width: 40vh;

    }

    .image-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .elpsis {
        text-overflow: ellipsis;
        max-height: 150px;
        // white-space: nowrap;
        overflow: hidden;
    }
}