.stay-preview {

    //  padding: 10px;


    .img-preview {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 8px;
        // margin-bottom: 10px;
    }

    .preview-loc {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .preview-name {
        color: $clr4;
    }
}