$details-padding: 6.5rem;
$child-margin: 180px;
$section-top: 32px;

.details-layout {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1400px;
  min-width: 800px;
  padding: 0 $details-padding;
  margin: 0 auto;
  margin: 0 auto;
  align-items: center;
  // justify-content: space-between;
  justify-content: center;

  >section {
    // margin-top: $section-top;
    width: 100%;
    margin: 0 $child-margin 0;
  }
}

.details-header {
  @include section-padding(2.3);

  // padding-top: 24px;
  // max-height: 65.23px;
  h3 {
    @include medium-bold(35.75px);

  }

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-height: 100px;
  min-height: 82px;

  .btn-header-container {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: 12px;

    .action-btn {
      justify-content: space-around;
      margin: 0;
    }
  }
}

.share-save-btn {
  @include medium-bold(19.25px)
}

.mini-user {
  display: flex;
  // gap: 24px;
}

.host-card {
  // border: 1px solid blueviolet;
  margin-left: 24px;
  line-height: 1;

  h4 {
    @include medium-bold(22px);
    // font-size: 22px;
  }
}

.user-card {
  // border: 1px solid blueviolet;
  margin-left: 24px;
  margin-bottom: 4px;
  line-height: 1;


  h4 {
    @include medium-bold(16px);
  }
}

.user-img {
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.super-host-tag {
  position: relative;
  bottom: 0;
  right: 15px;

  & img {
    margin: 0px -4px -1.5px 0px;
    width: 24px;
    height: 24px;
  }
}

// top part (dual:static & slide)
.dot {
  display: inline-flex;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  /* Creates a circular shape */
  background-color: black;
  /* Dot color */
  vertical-align: middle;
  // text-align: center;
  // justify-content: center;
  align-items: center;

}

.details-top {
  display: flex;
  width: 100%;
  flex-direction: column;

  &-head {
    h4 {
      line-height: 1;
      @include medium-bold(30.25px);
    }

    @include section-padding(3);
  }

  .stay-capacity-details {
    list-style: none;

    > :first-child {}

    display: flex;
    gap: 6px;
    align-items: center;
  }

  .rating-peek {
    display: flex;
    margin: 2px 0 -6px 0;
    align-items: center;
    gap: 6px;
  }

  .host-mini-section {
    // border: 1px saddlebrown solid;
    @include section-padding(2);
    @include border-top();

    img {
      border-radius: 100%;
      object-fit: fill;
    }
  }

  .stay-facts {
    @include section-padding(3);
    @include border-top();

    li {
      @include medium-bold(22px);
      padding: 0;
      margin: 0;
      text-align: start;
    }
  }

  .stay-description,
  .stay-amenities,
  .stay-dates {
    @include section-padding(4);
    @include border-top();
  }

}

.stay-facts {
  &-row {
    // border: 1px solid black;
    height: 60px;
    margin: -5px 0 1.3rem 0;
    display: flex;

    &:nth-of-type(3) {
      margin-bottom: 0;
      // background: #757;

    }
  }

  .list-item-nest {
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  li {
    margin: 0;
    line-height: 1.2;
    padding: 0;
    list-style: none;
    margin-left: 0.5rem;
  }

  .stay-facts-icon {
    margin: 0 2px;
    display: inline-block;

    // position: relative;
    // top: 0;
    svg {
      padding: 0 auto;
      width: 28px;
    }
  }


}

.checkout-container,
.checkout-payment-container {
  margin-top: 0;
  display: flex;
  min-width: 100%;
  position: relative;
  justify-content: space-between;

  .details-short,
  .payment-details {
    flex-grow: 1;
  }

  .checkout-card-container,
  .stay-payment-details-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    position: relative;

    .date-picker-modal {
      position: absolute;
      z-index: 2;
    }
  }
}

.rating-peek-stars {
  display: flex;
  align-items: center;
}

.total-rating {}

.total-reviews {
  a {
    color: #000;
  }

  text-decoration: underline;
}

// checkout card
.checkout-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid $clr2;
  align-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

  padding: 24px;
  position: sticky !important;
  top: 32px;
  margin-left: 8.333333333333332% !important;
  margin-right: 0% !important;
  margin-top: 32px;
  margin-bottom: 48px;

  min-width: 33.33333333333333% !important;
  max-width: 40.33333333333333% !important;
  max-height: 555px;
  // min-height: 300px;
  height: 30%;

  line-height: 1.25rem;

  z-index: 1;

  &-info {
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    list-style-type: none !important;
    margin: 8px 0px 0px !important;
    padding: 0px !important;
    text-align: center !important;

    span {
      font-size: 19.25px;
      margin-top: 8px !important;
      white-space: normal !important;
    }
  }

  .booking-costs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;

    .checkout-total {
      @include medium-bold(22px)
    }
  }

  .price-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;

    // padding: 10px 0;
  }

  .price {
    @include medium-bold(34px);
    margin-right: 5px;
  }

  button {
    border: 1px solid $clr2;
  }

  .btn-continue {
    margin-top: 16px;
    min-height: 56px;
  }
}

.btn-continue {
  padding: 12px;
  font-size: 1em;
  border-radius: 10px;
  transition: transform 0.1s;

  &:focus-visible,
  &:active {
    transform: scale(0.95);
  }
}

.date-btn-container,
.guest-btn-container {
  width: 100%;
  border-bottom: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.date-btn-container {



  &> :nth-child(2) {
    border-left: 1px solid $clr2;
  }
}

.guest-btn-container {
  &> :nth-child(2) {
    align-items: flex-end;
  }

  .down-arrow {
    justify-content: center;

    svg {
      stroke-width: 0.005rem;
      width: 40px;
      height: 40px;
    }
  }
}

.btn-info {
  @include btn();
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10px;
  min-height: 56px;
  width: 50%;
  border: none;
  // margin-top: 5px;

  &-label {
    font-weight: 400;
    @include medium-bold(18px);

  }

  &-detail {
    font-size: small;
  }
}

.price-break-down,
.checkout-total {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  font-size: small;
  align-items: center;

  >* {
    font-family: 'cereal';
  }

  button {
    text-decoration: underline;
    border: none;
    background: transparent;
  }
}

.price-break-down {
  padding-top: 16px;

  .btn-desc-modal {
    font-size: 22px;
    font-weight: 400;
  }
}

.checkout-total {
  // border-top: 1px solid $clr4;
  @include border-top();
  margin-top: 1em;
  padding-top: 1em;
  font-weight: 600;
}

//amenities
.stay-amenities {
  h4 {
    padding-top: 0;
    padding-bottom: 24px;
  }
}

.amenity-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .amenity {
    width: 50%;
    // border: solid 0.8px rgb(223, 229, 223);
    display: flex;
    padding: 8px 0;
    align-items: center;

    &>img {
      padding: 0;
      width: 45px;
      height: 45px;
    }

    // padding-left: 0.5em;
  }

  button {
    margin-top: 24px;
  }
}

.amenity-icon,
.amenity-name {
  padding-left: 1em;
}

//stay-dates
.date-picker-modal {
  position: absolute;
  background: white;
  border-radius: 32px;
  box-shadow: 0 0 0 1px #0000000a, 0 8px 16px #00000026;
  padding: 16px 32px;
  z-index: 10;
  right: 0;
  width: auto;
  height: 50vh;
  top: 32px;

  margin-left: 8.333333333333332% !important;
  margin-right: 0% !important;
  margin-top: 32px;
  margin-bottom: 48px;
  border: 1px solid $clr2;

}

.stay-dates {}

.date-picker-large {
  // background-color: rgba(107, 196, 196, 0.239);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  position: relative;
  .date-picker-bottom{
    display: flex;
    justify-content: flex-end;
    width: 92%;
    .btn-clear-dates{
      padding: 0.5em;
      background: rgb(247, 247, 247);
      text-decoration: underline;
    }
  }
  // &:not(:first-child),&:not(:last-child){
  //   border-top-color: #222; 
  // }
}

.date-middle-range {
  background: blue;
}

.rdp {
  --rdp-accent-color: rgb(247, 247, 247);
  --rdp-background-color: #fff;
  --rdp-selected-color: #fff;
  --rdp-outline: 1px solid black;

  .rdp-day:hover {
    border: 2px solid black;
    border-radius: 100% !important;
    background-color: var(--rdp-background-color);
    color: #000 !important;
  }

  // .rdp-day:hover:not(.rdp-day_range_end){
  //   background-color: #fff;
  // }
  .rdp-day_range_middle {
    border-radius: 0px;
    // width: 100%;
    border: none;
  }

  // .rdp-day_range_middle  {
  //   position: relative;
  //   &::before, 
  //   &::after{
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     width: 100%;
  //     height: 80%;
  //     background-color: rgb(247, 247, 247);
  //     z-index: -1;
  //   }
  //   &::after{
  //     right: -20px;
  //   }
  //   &::before{
  //     left: -20px;
  //   }
  // }



  .rdp-day_range_end,
  .rdp-day_range_start {
    border-radius: 100% !important;
    background: #000;
    color: #fff !important;
    border: 2px solid black
  }
}

// reviews

.review-list-item{
  
}
.stay-reviews {
  @include section-padding(4);
  @include border-top();

  .review-stats {
    width: 100%;
    padding: 0 12px;
    // border: 1px saddlebrown solid;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .reviews-average-container {
      display: flex;
      align-items: center;

      h4 {
        font-size: 137px;
        font-weight: 800;
      }

      img {
        height: 119.995px;
        overflow-x: clip;
        overflow-y: clip;
        position: static;
        width: 84.9702px;
        object-fit: cover;
      }

      .rate-flag-container {

        width: auto;
        height: 120px;
      }
    }

    &-header {}

    &-rating {}
  }
}

.commun-btn {
  @include btn();
  padding: 13px 23px;
  border: 0.95px solid #000;
  font-weight: 600;
}

// Booking / Payment page specifications
.payment-layout {
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1280px;
  width: 70vw;
  justify-content: center;
}

.checkout-payment-container {
  .checkout-card {
    width: 100%;
    // max-width: 500px;
  }

  .details-top-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .payment-order-info {
      margin-top: 32px;
    }
  }
}

.mini-order-preview {
  display: flex;
  width: 100%;
  height: 100%;

  .order-preview {
    width: 100%;
  }

  article {
    display: flex;
  }

  img {
    flex-grow: 1;
    max-width: 150px !important;
    max-height: 150px !important;
    min-width: 120px !important;
    min-height: 120px !important;

    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
  }
}

.host-mini-section {
  .login-signup {
    display: flex;
    flex-direction: column;

    &-btn-container {
      position: static;
    }

    button {
      // width: 53%;
    }

    >* {
      margin: 12px 0 0 0;
      padding: 0;

    }
  }
}

.tiny-li {
  margin-top: 16px;
  gap: 20px;
  display: flex;
  align-items: center;
}

// guest picker modal
.guest-picker-modal {
  position: relative;

  .location-modal.list-gusets {
    border-radius: 10px;
    position: absolute;
    // width: auto;
    min-width: 321px;
    // max-height: 3000px;
    min-height: 290px;
    // top:10.44rem;
    top: -227px;
    left: -158px;
  }
}

// maps
.stay-location {
  @include section-padding(4);
  @include border-top();

}

.stay-map-container {
  width: 100%;
  height: 500px;
}

.marker-circle {
  position: absolute;
  background-color: $clr1;
  width: 150px;
  height: 150px;
  opacity: 0.8;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}