$details-padding: 80px;
$child-margin: 180px;
$section-top: 32px;

.details-layout{
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1400px;
    min-width: 1200px;
    padding: 0 $details-padding;
    align-items: center;
    // justify-content: space-between;
    justify-content: center;
    
    >section{
        // margin-top: $section-top;
        width: 100%;
        margin: $section-top $child-margin 0;
    }
    .details-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-height: 80px;
        .btn-header-container{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}
.checkout-container{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    .details-short{
        flex-grow: 1;
    }
    .checkout-card{
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        align-content: flex-start;
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        position: relative !important;
        width: 40.33333333333333% !important;
        height: 479px;
        // flex-flow: wrap;
        margin-left: 8.333333333333332% !important;
        margin-right: 0% !important;
        border: 1px solid #ff0000;
    }
}
.date-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}
.btn-info{
    @include btn();
    display: flex;
    flex-direction: column;
    padding: 12px;
    min-height: 56px;
    border: none;
    margin-top: 5px;
    &-label{
        font-weight: 400;
        font-size: small;    
    }
    &-detail{
        font-size: smaller;
    }

}
.details-short{
    display: flex;
    width: 100%;
    flex-direction: column;
    .stay-capacity-details{
        >:first-child{
            list-style: none;
        }
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .rating-peek{
        display: flex;
        margin-top: 8px;
        align-items: center;
        gap: 6px;
    }
}
.price-break-down,.checkout-total{
    padding: 2px;
    display: flex;
    justify-content: space-between;
    font-size: small;
    button{
        text-decoration: underline;
        border: none;
        background: transparent;
    }
}

.checkout-total{
    border-top: 1px solid $clr4;
}
