.stay-filter {

    display: grid;
    grid-auto-flow: column;
    margin-top: 10px;
    padding-block: 0.2em;
    position: sticky;
    background-color: $clr3;
    z-index: 1001;
    width: 100%;

    &.sticky {
        top: 79.7px;


    }

    &.low-z-index {
        z-index: 970;

    }

    .scroll-container {
        display: grid;
        gap: 20px;
        grid-auto-flow: column;
        overflow-x: auto;
        padding: 10px;
        overflow: hidden;


    }



    .stay-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        position: relative;


        &:hover {
            border-bottom-color: $clr4;

            .overlay-icon {
                opacity: 0;

            }

        }

        &.hover-icon {
            border-bottom-color: $clr4;

            .overlay-icon {
                opacity: 0;

            }

        }


        img {
            height: 24px;
            width: 24px;
            margin-bottom: 5px;



        }

        p {
            font-size: 12px;
            //color: $clr4;
            font-family: cereal-bold;

        }

        .overlay-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            /* Gray color with 50% transparency */
            opacity: 1;
            /* Initially invisible */
            transition: opacity 0.3s ease;

        }

        &:hover {
            .overlay-icon {
                opacity: 0;
                /* Make the overlay visible on hover */
            }
        }


    }

    .bold-icon {
        font-weight: bold;
    }

    .filter-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #717171;
        border-radius: 20%;
        align-self: center;
        font-family: 'cereal-bold';
        padding: 15px;
        margin-left: 5px;
        margin-bottom: 15px;
        cursor: pointer;



        svg {
            font-size: 20px;
            margin-top: 0px;
            font-weight: bold;
            padding-right: 5px;

        }

        p {
            margin-bottom: 0px;
            font-weight: bold;
            font-size: 12px;
        }
    }

}

// Navigation arrows
.stay-filter {
    // position: relative;

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 20px;
        color: $clr4;
        background-color: transparent;
        border: none;
        outline: none;
        border: 1px solid $clr4;
        border-radius: 50%;
        height: 28px;
        width: 28px;
        padding: 5px;
        margin: -9.3px 11.8px;


    }

    .arrow-left {
        position: relative;
        left: 0;
        padding-inline: 0;
        margin-inline: 0;
    }

    .arrow-right {
        position: relative;
        right: 0;
    }




}